<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Display</title>
    <script>
        window.addEventListener("load", () => {
            const box = document.getElementById("topic_box");
            const source = new EventSource("/topic-stream");
            source.onmessage = (e) => {
                box.textContent = e.data || "";
            };
        });
    </script>
</head>
<body>
    <div id="topic_box"></div>
</body>
</html>
